apiVersion: v1
kind: Service
metadata:
  name: catalog-service
spec:
  type: NodePort
  selector:
    app: catalog
  ports:
    - protocol: TCP
      port: 8080       # service port
      targetPort: 8080 # container port
      nodePort: 30080  # external port on localhost
